ErrorDocument 404 /404.php


RewriteEngine on

RewriteRule ^notes/rss/?$ /index.php?rss=true [L]

RewriteRule ^git/?$ /git/gitweb.cgi%{REQUESTURI} [L]

RewriteRule ^captcha/?$ /index.php [L]

RewriteRule ^note/([^/\.]+)?/?$ /index.php?note=$1 [L]
RewriteRule ^note/([^/\.]+)?/comments/?$ /index.php?comments=true&note=$1 [L]
RewriteRule ^note/([^/\.]+)?/(comments/)?verify/?$ /index.php?comments=true&verify=true&note=$1 [L]

RewriteRule ^notes/?$ notes/page/1
RewriteRule ^notes/page/?$ notes/page/1
RewriteRule ^notes/page/([0-9]+)/?$ /index.php?page=$1 [L]

RewriteRule ^notes/([0-9]{4})/?$ /index.php?year=$1 [L]
RewriteRule ^notes/([0-9]{4})/([0-9]{2})/?$ /index.php?year=$1&month=$2 [L]
RewriteRule ^notes/([0-9]{4})/([0-9]{2})/([0-9]{2})/?$ /index.php?year=$1&month=$2&day=$3 [L]

## This needs to be last as to avoid catching /notes/ etc.
RewriteRule ^([^/\.]+)/?$ /index.php?project=$1 [L]

