ErrorDocument 404 /404.php
RewriteEngine on
RewriteRule ^notes/page/([1-9]+)/?$ notes/index.php?page=$1 [L]
RewriteRule ^notes/([^/\.]+)/?$ notes/index.php?note=$1 [L]
RewriteRule ^notes/?$ notes/ [L]
RewriteRule ^([^/\.]+)/?$ index.php?project=$1 [L]
