@font-face {
    font-family: 'InconsolataMedium';
    src: url('/font/inconsolata-webfont.eot');
    src: url('/font/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/inconsolata-webfont.woff') format('woff'),
         url('/font/inconsolata-webfont.ttf') format('truetype'),
         url('/font/inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab500';
    src: url('/font/museo_slab_500-webfont.eot');
    src: url('/font/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/museo_slab_500-webfont.woff') format('woff'),
         url('/font/museo_slab_500-webfont.ttf') format('truetype'),
         url('/font/museo_slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	}

h3 {
	margin-top:15px;
	font-family:sans-serif;
    font-family:'MuseoSlab500';
}

h1, h2 {
    font-size:150%;
    font-family:'MuseoSlab500';
}

a {
	text-decoration:none;
}

li {
	list-style:none;
	display:block;
}

#structure {
	width:960px;
	margin: 0 auto;
	margin-top: 30px;
}

#banner {
/*	float:left;
	margin-right:15px;
*/
    margin-left:15px;
}

#content {
	width:725px;
	min-height:300px;
	margin-bottom: 20px;
	margin-right:15px;
	padding:5px;
	padding-left:20px;
	padding-bottom:25px;
	text-align:left;
}

#portfolio {
	float:left;
	width:350px;
}

#portfolio li{
	font-family:sans-serif;
}

#exhibit {
	float:right;
	margin-left:17px;
    font-family:'InconsolataMedium';
}

#exhibit h1 {
	margin-bottom:15px;
}

.exhibit {
	width:300px;
	min-height:475px;
	border:1px solid black;
	padding:10px;
	display:none;
	text-align:left;
}

.shownDiv {
	border:1px solid black;
}

#contact_me {
	margin-top:100px;
	font-family:sans-serif;
	text-align:left;
	clear:both;
}

/* drawcss */
#drawcss_title {
	font-size:1.6em;
}

#drawcss_entry {
	font-size:1.6em;
 }

/* youtube_backup */
#youtube_backup_title {
	font-size:1.6em;
}

#youtube_backup_entry {
	font-size:1.4em;
}

/* i_like_pandora */
#i_like_pandora_title {
	font-size:1.6em;
}

#i_like_pandora_entry {
	font-size:1.4em;
}

/* notes */
#notes, #note {
	text-align:left;
	margin-top:20px;
}

#notes h1 {
	margin-bottom:10px;
}


.date {
    color:grey;
}

#comment_link {
	font-size:80%;
}

.note {
	margin-bottom:40px;
    font-family:'InconsolataMedium';
}

p {
	margin-top:15px;
}

pre {
	margin-top:20px;
	margin-bottom:20px;
}

#navigation {
	text-align:left;
	font-family:sans-serif;
}

#comments {
    margin-top:30px;
	border-left:1px solid black;
	padding-left:15px;
}

.comment {
	margin-bottom:30px;
}

#comment {
	padding-left:15px;
	border-left:1px solid black;
	margin-top:15px;
	text-align:left;
}

#comment input {
	border:1px solid grey;
}

#comment textarea {
	border:1px solid grey;
}

#comment .submit {
	background:#FFF;
	border:1px solid white;
	color:blue;
	cursor:pointer;
	font-size:120%;
	font-weight:bold;
    margin-top:20px;
}

#recaptcha_widget {
	position:relative;
}

#recaptcha_image {
	position:absolute;
	top:0px;
	right:0px;
    float:left;
    position:relative;
    width:100px;
}

#recaptcha_widget {
	display:none;
}

.recaptcha_help {
    font-size:80%;
}

#not_human {
    display:none;
    font-weight:bold;
    font-family:sans-serif;
    color:red;
    margin-top:15px;
    margin-bottom:15px;
}

#blank_comment { display:none;
    font-weight:bold;
    font-family:sans-serif;
    color:red;
    margin-top:15px;
    margin-bottom:15px;
}
