* {
	padding: 0;
	margin: 0;
	}

h3 {
	margin-top:15px;
	font-family:sans-serif;
}

a {
	text-decoration:none;
}

li {
	list-style:none;
	display:block;
}

#structure {
	width:960px;
	margin: 0 auto;
	margin-top: 30px;
}

#banner {
	float:right;
	margin-right:15px;
}

#content {
	float:right;
	width:725px;
	min-height:300px;
	margin-bottom: 20px;
	margin-right:15px;
	padding:5px;
	padding-left:20px;
	padding-bottom:25px;
	text-align:right;
}

#portfolio {
	float:right;
	width:350px;
}

#portfolio li{
	font-family:sans-serif;
}

#exhibit {
	float:right;
	margin-left:17px;
}

#exhibit h1 {
	margin-bottom:15px;
}

.exhibit {
	width:300px;
	min-height:600px;
	border:1px solid black;
	padding:10px;
	display:none;
	text-align:left;
}

.shownDiv {
	border:1px solid black;
}

#contact_me {
	margin-top:100px;
	font-family:sans-serif;
	text-align:right;
	clear:both;
}

/* reprap */
#reprap_entry {
	font: 1.5em georgia, times;
	text-decoration: none;
	display: block;
}

/* peepshow */
#peepshow_ {
	font-style:italic;
}
#peepshow_title_1 {
	font-style:italic;
	margin-top:0px;
}

#peephow_title_2 {
	font-size:3em;
}

#peepshow_entry {
	font:1.4em "lucida console";
}

#peepshow_entry {
	font:1.4em "lucida console";
}

/* drawcss */
#drawcss_title {
	font:1.6em "lucida console";
}

#drawcss_entry {
	font:1.6em "lucida console";
 }

/* youtube_backup */
#youtube_backup_title {
	font:1.6em "lucida console";
}

#youtube_backup_entry {
	font:1.4em "lucida console";
}

/* i_like_pandora */
#i_like_pandora_title {
	font:1.6em "lucida console";
}

#i_like_pandora_entry {
	font:1.4em "lucida console";
}

/* notes */
#notes, #note {
	float:right;
	text-align:right;
	margin-top:20px;
}

#notes h2 {
	margin-bottom:10px;
	font-family:sans-serif;
}

#note h2 {
	font-family:sans-serif;
}

#comment_link {
	font-size:80%;
}

.note {
	margin-bottom:40px;
}

.note p {
	margin-bottom:5px;
}

pre {
	margin-top:10px;
}

#navigation {
	text-align:right;
}

#comments {
	border-right:1px solid black;
	padding-right:15px;
}

#comment {
	padding-right:15px;
	border-right:1px solid black;
	margin-top:15px;
	text-align:right;
}

#comment input {
	border:1px solid grey;
}

#comment textarea {
	border:1px solid grey;
}

#comment .submit {
	background:#FFF;
	border:1px solid white;
	color:blue;
	cursor:pointer;
	font-size:120%;
	font-weight:bold;
}

#recaptcha_widget {
	position:relative;
}

#recaptcha_image {
	position:absolute;
	top:0px;
	right:0px;
}

#recaptcha_widget {
	display:none;
}
