* {
	padding: 0;
	margin: 0;
	}

h3 {
	margin-top:15px;
}

a {
	text-decoration:none;
}

li {
	list-style:none;
	display:block;
}

#structure {
	width:960px;
	margin: 0 auto;
	margin-top: 30px;
}

#banner {
	float:right;
	margin-right:15px;
}

#content {
	float:right;
	width:725px;
	min-height:300px;
	margin-bottom: 20px;
	margin-right:15px;
	padding:5px;
	padding-left:20px;
	padding-bottom:25px;
}

#portfolio {
	float:right;
	width:350px;
	margin-right:17px;
}

#exhibit {
	float:right;
}

#exhibit h1 {
	margin-bottom:15px;
}

.exhibit {
	width:300px;
	min-height:600px;
	border:1px solid black;
	padding:10px;
}

.shownDiv {
	border:1px solid black;
}

#contact_me {
	margin-top:100px;
}

/* reprap */
#reprap_entry {
	font: 1.5em georgia, times;
	text-decoration: none;
	display: block;
}

/* peepshow */
#peepshow_ {
	font-style:italic;
}
#peepshow_title_1 {
	font-style:italic;
	margin-top:0px;
}

#peephow_title_2 {
	font-size:3em;
}

#peepshow_entry {
	font:1.4em "lucida console";
}

/* readoo */
#readoo_title {
	font:1.6em arial;
}

#readoo_entry {
	font:1.6em arial;
}

/* drawcss */
#drawcss_title {
	font:1.6em "lucida console";
}

#drawcss_entry {
	font:1.6em "lucida console";
 }

/* youtube_backup */
#youtube_backup_title {
	font:1.6em "lucida console";
}

#youtube_backup_entry {
	font:1.4em "lucida console";
}

/* i_like_pandora */
#i_like_pandora_title {
	font:1.6em "lucida console";
}

#i_like_pandora_entry {
	font:1.4em "lucida console";
}
